<td-layout-nav-list #navList
                    logo="assets:covalent"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && navList.close()">

    <a md-list-item [routerLink]="['/logs']">
      <md-icon md-list-avatar>account_balance</md-icon>
      <h3 md-line> Main </h3>
      <p md-line> Main landing </p>
    </a>
    <md-divider *ngIf="!last" md-inset></md-divider>

  </md-nav-list>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span></span>
    <span flex></span>
  </div>
  <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-title>Main Page</md-card-title>
    <md-divider></md-divider>
    <md-card-content>

      <p>
        <md-radio-group [(ngModel)]="mobile_preview">
          <md-radio-button value="ios">IOS Preview</md-radio-button>&nbsp;&nbsp;
          <md-radio-button value="android">ANDROID Preview</md-radio-button>
        </md-radio-group>
      </p>

      <md-divider></md-divider>

      <p></p>

      <div layout="row">
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor"></app-main-page>
          </app-android-layout>
        </div>
        <div flex>
          <form class="example-form">
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="bgColor" [style.background]="bgColor"
                     [value]="bgColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Text color" [(colorPicker)]="textColor" [style.background]="textColor"
                     [value]="textColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
          </form>

        </div>
      </div>
    </md-card-content>
    <br>
    <md-divider></md-divider>
    <br>
  </md-card>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 check point. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav-list>
