<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
  <span>
      <img style="vertical-align:middle; height:48px;width:48px;" src="assets/images/transparentZa.png"/>
      <span style="margin-right:150px; font-style:italic;">ZoneAlarm ThemeRoller</span>
      <button md-raised-button color="accent" class="text-upper" (click)="doGenerate()">Generate...</button>
    </span>
    <md-icon style="text-align:right;flex: 1 1 auto;">more_vert</md-icon>
  </div>

  <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-divider></md-divider>
    <md-card-content>

      <p>
        <md-radio-group [(ngModel)]="mobile_preview">
          <md-radio-button value="ios">IOS Preview</md-radio-button>&nbsp;&nbsp;
          <md-radio-button value="android">ANDROID Preview</md-radio-button>
        </md-radio-group>
      </p>

      <md-divider></md-divider>

      <p></p>

      <div layout="row">
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-main-page
              [textColor]="textColor" [analyzingColor]="analyzingColor"
              [actionBarColor]="actionBarColor" [logo]="srcLogo"></app-main-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-risk-page
              [textColor]="textColor" [riskColor]="riskColor"
              [actionBarColor]="actionBarColor" [logo]="srcLogo"
              [deviceIcon]="deviceIcon" [appsIcon]="appsIcon" [networkIcon]="networkIcon"></app-risk-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-info-page
              [textColor]="textColor" [safeColor]="safeColor"
              [riskColor]="riskColor" [actionBarColor]="actionBarColor" [logo]="srcLogo"
              [deviceIcon]="deviceIcon" [rowBackground]="rowBackground" [rowTextColor]="rowTextColor"></app-info-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-main-page
              [textColor]="textColor" [analyzingColor]="analyzingColor"
              [actionBarColor]="actionBarColor" [logo]="srcLogo"></app-main-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-risk-page
              [textColor]="textColor" [riskColor]="riskColor"
              [actionBarColor]="actionBarColor" [logo]="srcLogo"
              [deviceIcon]="deviceIcon" [appsIcon]="appsIcon" [networkIcon]="networkIcon"></app-risk-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-info-page
              [textColor]="textColor" [safeColor]="safeColor"
              [riskColor]="riskColor" [actionBarColor]="actionBarColor" [logo]="srcLogo"
              [deviceIcon]="deviceIcon" [rowBackground]="rowBackground" [rowTextColor]="rowTextColor"></app-info-page>
          </app-android-layout>
        </div>
        <div flex>
          <form class="example-form">

            <md-list class="alert-list">
              <md-list-item layout="row">
                <h3 md-line flex>Background color </h3>
                <div flex>
                  <input placeholder="Background color" [(colorPicker)]="bgColor" [style.background]="bgColor"
                         [value]="bgColor" cpPosition="left" />
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Text color </h3>
                <div flex>
                  <input placeholder="Text color" [(colorPicker)]="textColor" [style.background]="textColor"
                         [value]="textColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Analyzing color </h3>
                <div flex>
                  <input placeholder="Analyzing color" [(colorPicker)]="analyzingColor"
                         [style.background]="analyzingColor" [value]="analyzingColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Risk color </h3>
                <div flex>
                  <input placeholder="Risk color" [(colorPicker)]="riskColor" [style.background]="riskColor"
                         [value]="riskColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>ActionBar color </h3>
                <div flex>
                  <input placeholder="ActionBar color" [(colorPicker)]="actionBarColor"
                         [style.background]="actionBarColor" [value]="actionBarColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Safe color </h3>
                <div flex>
                  <input placeholder="Safe color" [(colorPicker)]="safeColor" [style.background]="safeColor"
                         [value]="safeColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Row Background color </h3>
                <div flex>
                  <input placeholder="Row Background color" [(colorPicker)]="rowBackground"
                         [style.background]="rowBackground" [value]="rowBackground" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Row Text color </h3>
                <div flex>
                  <input placeholder="Raw Text color" [(colorPicker)]="rowTextColor" [style.background]="rowTextColor"
                         [value]="rowTextColor" cpPosition="left"/>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Logo icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload1 accept=".png" (select)="selectEvent($event, 'icon.png')"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent('icon.png')">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload1.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>icon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Threat icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload2 accept=".png" (select)="selectEvent($event)"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload2.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>threatIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Risk icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload3 accept=".png" (select)="selectEvent($event)"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload3.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>riskIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Device icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload4 accept=".png" (select)="selectEvent($event, 'deviceIcon.png')"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent('deviceIcon.png')">
                    <md-icon>file_upload</md-icon>
                    <span>{{ singleFileUpload4.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>deviceIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Safe icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload5 accept=".png" (select)="selectEvent($event)"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload5.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>safeIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Apps icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload6 accept=".png" (select)="selectEvent($event, 'appsIcon.png')"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent('appsIcon.png')">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload6.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>appsIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>Network icon</h3>
                <div flex>
                  <td-file-upload #singleFileUpload7 accept=".png" (select)="selectEvent($event, 'networkIcon.png')"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent('networkIcon.png')">
                    <md-icon>file_upload</md-icon>
                    <span>{{ singleFileUpload7.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>networkIcon.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item layout="row">
                <h3 md-line flex>SplashScreen logo</h3>
                <div flex>
                  <td-file-upload #singleFileUpload8 accept=".png" (select)="selectEvent($event)"
                                  (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
                    <md-icon class="material-icons">file_upload</md-icon>
                    <span>{{ singleFileUpload8.files?.name }}</span>
                    <ng-template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>splashScreenLogo.png...</span>
                    </ng-template>
                  </td-file-upload>
                </div>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>


          </form>

        </div>
      </div>
    </md-card-content>
    <br>
    <md-divider></md-divider>
    <br>
  </md-card>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2017 check point. All rights reserved</span>
      <span flex></span>
    </div>
  </td-layout-footer>
</td-layout-nav>
