<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
  <span>
      <img style="vertical-align:middle; height:48px;width:48px;" src="assets/images/transparentZa.png"/>
      <span style="margin-right:150px; font-style:italic;">ZoneAlarm ThemeRoller</span>
      <button md-raised-button color="accent" class="text-upper" (click)="doGenerate()">Generate...</button>
    </span>
    <md-icon style="text-align:right;flex: 1 1 auto;">more_vert</md-icon>
  </div>

  <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-divider></md-divider>
    <md-card-content>

      <p>
        <md-radio-group [(ngModel)]="mobile_preview">
          <md-radio-button value="ios">IOS Preview</md-radio-button>&nbsp;&nbsp;
          <md-radio-button value="android">ANDROID Preview</md-radio-button>
        </md-radio-group>
      </p>

      <md-divider></md-divider>

      <p></p>

      <div layout="row">
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor" [analyzingColor]="analyzingColor"></app-main-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-risk-page [textColor]="textColor" [riskColor]="riskColor"></app-risk-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='ios'" flex layout="row">
          <app-ios-layout [backgroundColor]="bgColor">
            <app-info-page [textColor]="textColor" [safeColor]="safeColor" [riskColor]="riskColor"></app-info-page>
          </app-ios-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-main-page [textColor]="textColor" [analyzingColor]="analyzingColor"></app-main-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-risk-page [textColor]="textColor" [riskColor]="riskColor"></app-risk-page>
          </app-android-layout>
        </div>
        <div *ngIf="mobile_preview=='android'" flex layout="row">
          <app-android-layout [backgroundColor]="bgColor">
            <app-info-page [textColor]="textColor" [safeColor]="safeColor" [riskColor]="riskColor"></app-info-page>
          </app-android-layout>
        </div>
        <div flex>
          <form class="example-form">
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="bgColor" [style.background]="bgColor"
                     [value]="bgColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Text color" [(colorPicker)]="textColor" [style.background]="textColor"
                     [value]="textColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Analyzing color" [(colorPicker)]="analyzingColor"
                     [style.background]="analyzingColor"
                     [value]="analyzingColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Risk color" [(colorPicker)]="riskColor" [style.background]="riskColor"
                     [value]="riskColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Safe color" [(colorPicker)]="safeColor" [style.background]="safeColor"
                     [value]="safeColor"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Background color" [(colorPicker)]="color" [style.background]="color"
                     [value]="color"/>
            </md-input-container>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose icon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose threatIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose riskIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose deviceIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose safeIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose appsIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose networkIcon.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <td-file-upload #singleFileUpload accept=".png" (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" >
              <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
              <ng-template td-file-input-label>
                <md-icon>attach_file</md-icon><span>Choose splashScreenLogo.png...</span>
              </ng-template>
            </td-file-upload>
            <br>
            <br>
          </form>

        </div>
      </div>
    </md-card-content>
    <br>
    <md-divider></md-divider>
    <br>
  </md-card>

  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2017 check point. All rights reserved</span>
      <span flex></span>
    </div>
  </td-layout-footer>
</td-layout-nav>
