.android-device {
  background-image: url("/assets/images/nexus_frame.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 612px;
  display: inline-block;

  padding-left: 17px;
  padding-top: 37px;
  box-sizing: border-box;
}

.content-width{
  width: 289px;
  height: 476px;
}
